<header role="heading" id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="row justify-content-around navSection ">
                    <h3>COPYRIGHT © 2024 MealPlannIT. All Rights Reserved
                </h3>
                <p>For code click <a href="https://github.com/slinghshot/MealPlannit/" target="_blank"> Here</a></p>
                <p>For back-end code click <a href="https://github.com/slinghshot/MealPlannit-API" target="_blank"> Here</a></p>
            </div>
            <div class="row justify-content-around navSection ">
                <h3>CIT 481 | Senior Design Project</h3>
                <p>Joshua Lavian | Front-end</p>
                <p>Katsiaryna Sentserava | Database Administrator</p> 
                <p>Simerpreet Singh | Back-end</p>
                <p>Teresa Lizaola | Cloud Engineer</p> 
            </div>
        
    </div>
    </nav>
</header>