<header role="heading" id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/">
            <img class="logo" src="./assets/logo.png" />
            Meal-PlanIT
        </a>
        <button class="navbar-toggler collapsed butter" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNavAltMarkup" *ngIf="userLoggedIn">
            <div class="nav navbar-nav col-sm-6">
                <a class="nav-item nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    true}">Home</a>
                <a class="nav-item nav-link" routerLink="/meals" routerLinkActive="active">Meals</a>
                <a class="nav-item nav-link" routerLink="/groceryList" routerLinkActive="active">Grocery List</a>
                <a class="nav-item nav-link" routerLink="/browse" routerLinkActive="active">Browse</a>
            </div>
            <div class="nav offset-sm-0 offset-lg-2">
                <span class="name offset-sm-0">{{name |titlecase}}</span>
                &nbsp;
                &nbsp;
                <button class="signOut" (click)="signOut()">

                    <div class="sign"><svg viewBox="0 0 512 512">
                            <path
                                d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                            </path>
                        </svg></div>

                    <div class="textSignOut">Logout</div>
                </button>
                <!-- <button class="btn btn-outline-danger" (click)="signOut()">Sign Out</button> -->
            </div>
        </div>
        <div class="navbar-collapse collapse" id="navbarNavAltMarkup" *ngIf="!userLoggedIn">
            <div class="nav loginSignUp offset-lg-7">
                <button class="btn btn-outline-primary btn-md" id="login" routerLink="/login">Login</button>
                &nbsp;
                <button class="btn btn-primary btn-md" id="signup" routerLink="/register">Sign-up</button>
            </div>
        </div>
    </nav>
    <!-- <div class=" content-wrap">
                    <div class="column-narrow">
                        <a routerLink="/">
                            <img src="assets/logo2.png" alt="Weather Logo" height="100px" />
                        </a>

                    </div>
                    <div *ngIf="userLoggedIn">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Meal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Grocery List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                        </ul>
                    </div>
                    <div class="column-wide">
                        <div *ngIf="!userLoggedIn" class="loginSignUp">
                            <button class="btn btn-outline-primary btn-lg" id="login" routerLink="/login">Login</button>
                            &nbsp;
                            <button class="btn btn-primary btn-lg" id="signup" routerLink="/login">Sign-up</button>
                        </div>
                        <div *ngIf="userLoggedIn" class="loggedInUser">

                            <div>
                                <button class="btn btn-outline-danger" (click)="signOut()">Sign out</button>
                            </div>
                        </div>
                    </div>
            </div> -->
</header>
