@media screen, print {
  body {
    font-family: Arial, sans-serif;
  }
  .entiretable {
    width: 95%;
    margin-left: 1em;
  }
  th {
    background-color: #070f0dcf;
    color: white;
  }

  table.print-friendly tr td,
  table.print-friendly tr th {
    page-break-inside: avoid;
  }
  td,
  th {
    border: 3px solid black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 8px;
  }

  td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
  }
  .amount {
    width: 25%;
  }
  .mealName {
    width: 70%;
  }
}
