<main role="main" class="main">
    <form class="form container-fluid loginForm">
        <div class="row">
            <div class="col-lg ">
                <p class="form-title">Sign in to your account</p>
                <div class="input-container">
                    <!-- <input placeholder="Enter email" type="email"> -->
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
                        placeholder="Enter email" [(ngModel)]="email" />
                </div>
                <div class="input-container">
                    <!-- <input placeholder="Enter password" type="password"> -->
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                        [(ngModel)]="password" />
                    <span>
                        <!-- <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" stroke-width="2" stroke-linejoin="round"
                        stroke-linecap="round"></path>
                    <path
                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                        stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg> -->
                    </span>
                </div>
                <button type="submit" (click)="submit()" class="submit">Sign in</button>
                <!-- <button class="submit" type="submit">
                    Sign in
                </button> -->

                <p class="signup-link">
                    No account?
                    <a routerLink="/register">Sign up</a>
                </p>
            </div>
        </div>
    </form>


    <!-- <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card col-lg-3">
                <h1 class="">Login</h1>
                <form class=" loginForm ">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
                            placeholder="Enter email" [(ngModel)]="email" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                            [(ngModel)]="password" />
                    </div>
                    
                    <button type="submit" (click)="submit()" class="btn btn-primary btn-md login">Login</button>
                    <br>
                    <a href="/register" class="register">Register an account</a>
                    
                </form>
            </div>
        </div>
    </div> -->
</main>