<!-- <div class="offcanvas-header">
    <h5 class="offcanvas-title">Meal Viewer</h5>

</div> -->
<!-- <div class=""> -->

<form class="form " id="top">
    <button type="button" class="btn-close text-reset" aria-label="Close"
        (click)="activeOffcanvas.dismiss('Cross click')"></button>
    <div class="title"><img class="logo" src="../../../assets/logo.png" />Meal {{header}}</div>
    <div *ngIf="meal" class="fieldName"><span>Meal Name:</span><br>
        <input class="input" [readOnly]="isReadOnly" [ngClass]="isActive" [(ngModel)]="meal.meals.mealName"
            [ngModelOptions]="{standalone: true}" />
    </div>
    <div *ngIf="meal" class="fieldName"><span>Meal Description:</span>
        <textarea class="textArea" [ngClass]="isActive" [style.height]="textHeight" [readOnly]="isReadOnly"
            [(ngModel)]="meal.meals.mealDescription" [ngModelOptions]="{standalone: true}"></textarea>
    </div>

    <div class="form-check " *ngIf="isReadOnly">
        <input class="form-check-input" type="checkbox" value="" id="ingIsOptional" [(ngModel)]="showNutritionViewer"
            [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="ingIsOptional">
            Show calories/protein
        </label>
    </div>

    <div *ngIf="meal">
        <div *ngFor="let ingredient of meal.meals.ingredients; index as i;" class="ingredientField">
            <div class="fieldName FirstIngredient"><span>Ingredient Name:</span>
                <input class="input" [readOnly]="isReadOnly" [ngClass]="isActive"
                    [(ngModel)]="ingredient.ingredientName" [ngbTypeahead]="search"
                    [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="fieldName " *ngIf="!isReadOnly || ingredient.ingredientDescription"><span>Ingredient
                    Description:</span>
                <textarea class="textArea" [ngClass]="isActive" height="100px" [readOnly]="isReadOnly"
                    [(ngModel)]="ingredient.ingredientDescription" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
            <div class="fieldName" *ngIf="isReadOnly"><span>Amount:</span><br>
                <input class="input" [readOnly]="isReadOnly" [ngClass]="isActive"
                    value="{{ingredient.amount}} {{ingredient.amountType}}" />
            </div>
            <div class="fieldName " *ngIf="!isReadOnly"><span>Amount:</span><br>
                <input class="input" [readOnly]="isReadOnly" [ngClass]="isActive" [(ngModel)]="ingredient.amount"
                    [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="fieldName " *ngIf="!isReadOnly"><span>Amount Type:</span>
                <input class="input" [readOnly]="isReadOnly" [ngClass]="isActive" [(ngModel)]="ingredient.amountType"
                    [ngbTypeahead]="searchMeasurement" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="fieldName " *ngIf="showNutritionViewer"><span>Calories:</span><br>
                <input class="input" [readOnly]="isReadOnly" [ngClass]="isActive" [(ngModel)]="ingredient.calories"
                    [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="fieldName " *ngIf="showNutritionViewer"><span>Protein (g):</span><br>
                <input class="input" [readOnly]="isReadOnly" [ngClass]="isActive" [(ngModel)]="ingredient.protein"
                    [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="fieldName "><span>Is ingredient optional: </span>
                <input class="input-checkbox" type="checkbox" [disabled]="isReadOnly" value="" id="ingIsOptional"
                    [(ngModel)]="ingredient.isOptional" [ngModelOptions]="{standalone: true}">
            </div>
            <button type="button" class="DelConfirm" (click)="deleteForm(i)" *ngIf="!isReadOnly">Delete</button>

        </div>
        <div class="fieldName shared" *ngIf="meal"><span>Share with others: </span>
            <input class="input-checkbox" type="checkbox" [disabled]="isReadOnly" value="" id="ingIsOptional"
                [(ngModel)]="meal.meals.shared" [ngModelOptions]="{standalone: true}"> &nbsp;
            <button class="btn btn-outline-success addButton" (click)="addForm()" *ngIf="!isReadOnly">Add
                Ingredient</button>
        </div>

    </div>

    <div class="container">
        <div class="row ">
            <div class="col-lg-6 items">
                <button type="button" class="button-confirm" (click)="edit()" *ngIf="isReadOnly">Edit</button>
                <button type="button" class="button-confirm" (click)="view()" *ngIf="!isReadOnly">View</button>
            </div>
            <div class="col-lg-6 items">
                <button type="button" class="button-confirm" (click)="activeOffcanvas.close('Close click')"
                    *ngIf="isReadOnly">Close</button>
                <button type="button" class="button-confirm" (click)="updateMeal()" *ngIf="!isReadOnly">Submit</button>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-outline-danger DelConfirm WideBTN" (click)="confirmDelMeal()"
        *ngIf="!isReadOnly && !delClicked">Delete
        Meal</button>
    <button type="button" class="btn btn-outline-danger DelConfirm WideBTN" (click)="deleteMeal()"
        *ngIf="!isReadOnly && delClicked">Are you sure?</button>
</form>
