.form {
  --input-focus: black;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: beige;
  --main-color: black;
  padding: 20px;
  background: rgb(251, 251, 251);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  /* border-radius: 5px; */
  /* border: 2px solid var(--main-color); */
  /* box-shadow: 4px 4px var(--main-color); */
}
.text-reset {
  margin-left: 340px;
}

.logo {
  height: 50px;
}
.title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
}

.fieldName {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
  padding-bottom: 20px;
}
.FirstIngredient {
  border-top: 1px solid;
  padding: 10px 0 20px 0;
}
.ingredientField {
  /* border: 1px solid; */
  margin-bottom: 15px;
  padding-left: 10px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);

  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}
.input-checkbox {
  /* width: 250px; */
  height: 1.5em;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  box-shadow: 2px 2px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 3px 7px;
  outline: none;
}

.viewer {
  background-color: var(--bg-color);
  cursor: default;
}
.editing {
  background-color: white;
  cursor: text;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}
.textArea {
  width: 250px;
  min-height: 40px;
  max-height: 220px;
  border-radius: 5px;
  border: 2px solid var(--main-color);

  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}
.textArea::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.textArea:focus {
  border: 2px solid var(--input-focus);
}
.button-log:active,
.button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.button-confirm {
  margin: 10px auto 10px auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}
.DelConfirm {
  margin: 10px auto 10px auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid red;
  background-color: white;
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: red;
  cursor: pointer;
}
.DelConfirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.row {
  /* border: solid; */
  margin-top: -20px;
}

.items {
  margin-top: -10px;
  padding-top: 0px;
  z-index: 0;
  /* border: solid; */
}

.shared {
  z-index: 1;
}
.WideBTN {
  width: 100%;
}

.form-check-input {
  border: 1px black solid;
}
