<app-navbar></app-navbar>
<main role="main">
    <div class="banner">
        <div class="container-fluid">
            <div class="row h-100 justify-content-center">
                <div class="col-lg-6 h-100 heightLine">
                    <div class="col-lg-7 offset-lg-3 bannerFont heightLine">
                        <span class="logoFont logoFontSize">Meal</span> Planning,<br>made easy
                    </div>

                    <div class="container">
                        <div class="row justify-content-around bannerFont2">
                            <div class="col-lg-4 ">
                                <div class="bannerImgDiv">
                                    <img class="bannerImg " src="assets/createNote.png" />
                                </div>
                                <span class="subText">
                                    Create a Meal Plan!</span>
                            </div>
                            <div class="col-lg-4 heightLine">
                                <div class="bannerImgDiv">
                                    <img class="bannerImg " src="assets/createList.png" />
                                </div>
                                <span class="subText">
                                    Generate a Grocery List!</span>
                            </div>
                            <div class="col-lg-4 heightLine">
                                <div class="bannerImgDiv">
                                    <img class="bannerImg " src="assets/ingredients.png" />
                                </div>
                                <span class="subText">
                                    Get the ingredients YOU need!
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-lg-3" id="bannerSideImg">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="aboutUS heightLine col-sm-6">
                <h1>About us</h1>
                <p>Welcome to <span class=logoFont>Meal-PlannIT</span> - Your Ultimate Meal Planning and Grocery List
                    Generator!<br><br>

                    At <span class=logoFont>Meal-PlannIT</span>, we're passionate about simplifying the way you plan
                    your
                    meals and shop for
                    groceries. We understand that juggling work, family, and other responsibilities can make meal
                    planning a daunting task. That's why we've developed a user-friendly platform that makes it easier
                    than ever to create delicious, wholesome meals and streamline your grocery shopping experience.</p>
            </div>
        </div>
    </div>

</main>