<app-navbar></app-navbar>
<!-- <button (click)="open(meal)">show details</button> -->

<main role="main" class="container-fluid mainContainer">
    <div class="row justify-content-center">
        <div class="col-lg-5 ">
            <h2>Meal List</h2>
            <table class="mealListTable">
                <tr>
                    <th class="text-center">Select</th>
                    <th>Meal name</th>
                    <th>Meal Description</th>
                </tr>
                <tr *ngFor="let meal of meals; index as i;" class="tableRows">
                    <td class="selectCheck">
                        <div class="checkbox-wrapper-31">
                            <input type="checkbox" (change)="onCheckChange(meal.meals)">
                            <svg viewBox="0 0 35.6 35.6">
                                <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                                <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                                <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                            </svg>
                        </div>


                        <!-- <input class="form-check-input " type="checkbox" value="" (change)="onCheckChange(meal.meals)"> -->
                    </td>
                    <td (click)="open(meal)">{{meal.meals.mealName}}</td>
                    <td (click)="open(meal)">{{meal.meals.mealDescription}}</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-2">
            <br><br>
            <div class="mealSelectedContainer">

                <h2 class="text-center selectorTitle">
                    Meals Selected</h2>
                <div>
                    <!-- buttonList -->
                    <button class="generateButton" [ngClass]="selectedMeals.length===0 ? 'buttonList' : ''"
                        (click)="generateGroceryList()"><span>Generate
                            List</span></button>
                </div>

                <table *ngIf="selectedMeals.length!=0" class="mealSelectedTable">
                    <tr *ngFor="let selectedMeal of selectedMeals; index as j;">
                        <td>{{selectedMeal.mealName}}</td>
                    </tr>
                </table>

                <div class="row">
                    <div *ngIf="selectedMeals.length===0">No Meals Selected</div>
                </div>

            </div>
        </div>
    </div>

    <div id="pdf" class="container-fluid" *ngIf="generatedIngredients.length>0">

        <div class="row justify-content-center">
            <div class="col-lg-6 ingredientCount">
                Ingredient Count: {{generatedIngredients.length}}</div>
            <div class="col-lg-1 ingredientCount"><button class=" btn btn-outline-success" (click)="printForm()">Print
                    Button</button>
            </div>
            <table class="col-lg-7" style="border: 1px black solid;">
                <tr>
                    <th class="iheading">Ingredient Name</th>
                    <th>
                        <div class="row">
                            <div class="col-lg-2">Amount
                            </div>
                            <div class="col-lg-8">Meals Referenced</div>
                        </div>
                    </th>



                </tr>
                <tr *ngFor="let ingredient of generatedIngredients; index as j;">
                    <td>{{ingredient.ingredient}}</td>
                    <td>
                        <div *ngFor="let meal of ingredient.meal; index as k;">
                            <div class="row">
                                <div class="col-lg-2">{{meal.amount}}
                                </div>
                                <div class="col-lg-8">{{meal.name}}</div>
                                <hr style="margin-bottom:-10px;" *ngIf="k===0 && ingredient.meal.length>1">
                            </div>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <iframe id="print_frame" name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
</main>
<app-footer></app-footer>