/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  /* background-color: #070f0d; */
  color: #070f0d;
}
.custom-dialog-container {
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.custom-dialog-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* @media print {
  
  body {
    font-family: Arial, sans-serif;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  th,
  td {
    border: 1px solid #e80b0b;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
} */

/* * {
  outline: solid 1px red;
} */
/* html {
  background-color: #f6f6f6;
  color: #6d8fb5;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
} */
/* *,
*:before,
*:after {
  box-sizing: inherit;
} */
/* body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
} */
/* h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2em;
}
h1 {
  font-size: 3.2em;
}
h2 {
  font-size: 2em;
  padding-bottom: 10px;
}
h3 {
  font-size: 1.8em;
  font-weight: 500;
  margin-top: -3px;
  line-height: 1.2em;
}
p {
  margin: 2px;
} */

/* html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
} */
